<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>📝 Simple Blog</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/create" class="btn">+ New Post</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>